@font-face {
  font-family: "CeraPro";
  src: url("../fonts/CeraPro/CeraPro-Black.eot");
  src: url("../fonts/CeraPro/CeraPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro/CeraPro-Black.woff") format("woff"), url("../fonts/CeraPro/CeraPro-Black.woff2") format("woff2"), url("../fonts/CeraPro/CeraPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "CeraPro";
  src: url("../fonts/CeraPro/CeraPro-Light.eot");
  src: url("../fonts/CeraPro/CeraPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro/CeraPro-Light.woff") format("woff"), url("../fonts/CeraPro/CeraPro-Light.woff2") format("woff2"), url("../fonts/CeraPro/CeraPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-Light.eot");
  src: url("../fonts/OpenSans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansCond";
  src: url("../fonts/OpenSans/OpenSansCondensed-bold.eot");
  src: url("../fonts/OpenSans/OpenSansCondensed-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSansCondensed-bold.woff") format("woff"), url("../fonts/OpenSans/OpenSansCondensed-bold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSansCondensed-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-y: scroll;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 100%;
  padding: 0 14px;
  margin: 0 auto;
}

@media only screen and (min-width: 1170px) {
  .container {
    max-width: 1170px;
  }
}
.header-block-inner {
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo img {
  max-width: 80%;
  height: auto;
}
.header-nav-list {
  list-style: none;
}
.header-nav-list__item {
  display: inline-block;
  position: relative;
}
.header-nav-list__item:nth-child(n+2) {
  margin-left: 30px;
}
.header-nav-list__item:nth-child(n+2):before {
  content: "";
  height: 16px;
  width: 1px;
  background: #000;
  position: absolute;
  top: 0;
  left: -17px;
  z-index: 2;
}
.header-nav a {
  font-family: OpenSans;
  font-size: 15px;
  text-transform: none;
  text-decoration: underline;
  color: #000;
  font-weight: 400;
  line-height: auto;
}
.header-nav a:hover {
  color: #bd2631;
  text-decoration: none;
}
.header-client-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header-client__item {
  height: 70px;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  position: relative;
  border-bottom: 3px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-client__item:nth-child(n+3) {
  margin-top: 30px;
}
.header-client__item:before {
  content: "";
  border: 5px solid #ccc;
  border-color: #ccc transparent transparent transparent;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: calc(100% + 3px);
}
.header-client__item img {
  display: block;
  max-width: 80%;
  height: auto;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}
@media only screen and (min-width: 480px) {
  .header-block {
    padding: 5px 10px 15px 10px;
  }
  .header-logo img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .header-block {
    border-bottom: 1px solid #ccc;
  }
  .header-logo img {
    max-width: 100%;
  }
  .header-client {
    position: relative;
  }
  .header-client:before {
    content: "";
    background: #ccc;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 97%;
    left: 0;
    z-index: 2;
  }
  .header-client-inner {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .header-client__item {
    height: 125px;
    -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
  }
  .header-client__item:nth-child(n+3) {
    margin-top: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .header-block {
    padding: 0;
  }
  .header-client__item img {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
  }
  .header-client__item img:hover {
    -webkit-filter: unset;
            filter: unset;
  }
}

.breadCrumbs {
  display: none;
}
@media only screen and (min-width: 768px) {
  .breadCrumbs {
    display: block;
    padding: 35px 0;
  }
  .breadCrumbs-list {
    list-style: none;
  }
  .breadCrumbs-list__item {
    display: inline-block;
    position: relative;
  }
  .breadCrumbs-list__item:nth-child(n+2) {
    margin-left: 38px;
  }
  .breadCrumbs-list__item:nth-child(n+2):before {
    content: "/";
    color: #ccc;
    position: absolute;
    top: 0;
    left: -22px;
    z-index: 2;
  }
  .breadCrumbs a {
    font-family: OpenSans;
    font-size: 15px;
    text-transform: none;
    text-decoration: none;
    color: #ccc;
    font-weight: 400;
    line-height: auto;
  }
  .breadCrumbs_grey {
    margin-top: -5px;
    background: #efefef;
    padding: 40px 0 25px 0;
  }
  .breadCrumbs_grey a {
    color: #999999;
  }
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-links {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
.footer-links:nth-child(n+3) {
  margin-top: 50px;
}
.footer-links__title {
  display: inline-block;
  margin-bottom: 33px;
  position: relative;
  font-family: OpenSansCond;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-weight: 700;
  line-height: auto;
}
.footer-links__title:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #bd2631;
  position: absolute;
  top: 115%;
  left: 0;
  z-index: 2;
}
.footer-list {
  list-style: none;
}
.footer-list__item:nth-child(n+2) {
  margin-top: 12px;
}
.footer-list__item a {
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  font-family: OpenSans;
  font-size: 15px;
  text-transform: none;
  text-decoration: none;
  color: #333;
  font-weight: 300;
  line-height: auto;
}
.footer-copy {
  margin-top: 85px;
  background: #bd2631;
  text-align: center;
  padding: 15px 0;
  font-family: CeraPro;
  font-size: 15px;
  text-transform: none;
  text-decoration: none;
  color: #ff9999;
  font-weight: 300;
  line-height: auto;
}
.footer-copy p {
  margin-top: 5px;
}
@media only screen and (min-width: 480px) {
  .footer-links {
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
  }
  .footer-links:nth-child(3) {
    margin-top: 0;
  }
  .footer-links:nth-last-child(1), .footer-links:nth-last-child(2) {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    border-top: 1px solid #ccc;
  }
  .footer-block {
    padding-top: 10px;
  }
  .footer-links {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .footer-links:nth-child(4) {
    margin-top: 0;
  }
  .footer-links:nth-child(n+5) {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer-links {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .footer-links:nth-child(n+1) {
    margin-top: 0;
  }
  .footer-links:hover .footer-links__title {
    color: #bd2631;
  }
  .footer-list__item:hover a {
    color: #fff;
    background: #bd2631;
  }
  .footer-copy {
    margin-top: 20px;
  }
}

.product {
  margin-bottom: 78px;
}
.product__title {
  font-family: OpenSans;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #666;
  font-weight: 700;
  line-height: auto;
  padding: 30px 0;
}
.product__title span {
  position: relative;
}
.product__title span:before {
  content: "";
  width: 100%;
  height: 3px;
  background: #bd2631;
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 2;
}
.product-photo {
  text-align: center;
}
.product-photo img {
  max-width: 64%;
  height: auto;
}
.product-description {
  margin: 22px 0;
}
.product-description__title {
  font-family: OpenSans;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #666;
  font-weight: 700;
  line-height: auto;
  margin-bottom: 20px;
}
.product-description__title span {
  position: relative;
}
.product-description__title span:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #bd2631;
  position: absolute;
  top: 120%;
  left: 0;
  z-index: 2;
}
.product-description__info {
  font-family: OpenSans;
  font-size: 15px;
  text-transform: none;
  text-decoration: none;
  color: #666;
  font-weight: 700;
  line-height: auto;
}
.product-character__title {
  font-family: OpenSans;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #666;
  font-weight: 700;
  line-height: auto;
  margin: 35px 0 30px 0;
}
.product-character__title span {
  position: relative;
}
.product-character__title span:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #bd2631;
  position: absolute;
  top: 120%;
  left: 0;
  z-index: 2;
}
.product-character__info ul {
  list-style: none;
}
.product-character__info ul:nth-child(2) {
  margin-top: 20px;
}
.product-character__info li {
  padding-left: 20px;
  max-width: 80%;
  font-family: OpenSans;
  font-size: 15px;
  text-transform: none;
  text-decoration: none;
  color: #666;
  font-weight: 700;
  line-height: auto;
  position: relative;
}
.product-character__info li:before {
  content: "";
  border: 3px solid #bd2631;
  position: absolute;
  top: 5px;
  left: 2px;
  z-index: 3;
}
.product-character__info li:nth-child(n+2) {
  margin-top: 20px;
}
.product-instruction__title {
  font-family: OpenSans;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #666;
  font-weight: 700;
  line-height: auto;
  margin: 40px 0 15px 0;
}
.product-instruction__title span {
  position: relative;
}
.product-instruction__title span:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #bd2631;
  position: absolute;
  top: 120%;
  left: 0;
  z-index: 2;
}
.product-instruction__info {
  font-family: OpenSans;
  font-size: 15px;
  text-transform: none;
  text-decoration: none;
  color: #666;
  font-weight: 700;
  line-height: 18px;
}
.product-instruction__info p:nth-child(2) {
  margin-top: 20px;
}
.product-instruction__download {
  margin-top: 40px;
}
.product-instruction__download a {
  font-family: OpenSans;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #bd2631;
  font-weight: 700;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-instruction__download span {
  padding-left: 15px;
}
@media only screen and (min-width: 480px) {
  .product__title {
    font-size: 30px;
    padding: 52px 0;
  }
  .product-character__info li {
    max-width: 60%;
  }
}
@media only screen and (min-width: 768px) {
  .product__title {
    padding-top: 10px;
  }
  .product-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product-photo {
    width: 35%;
  }
  .product-photo img {
    max-width: 100%;
  }
  .product-info {
    width: 60%;
  }
  .product-description {
    margin-top: 0;
  }
  .product-character__title {
    margin: 62px 0 30px 0;
  }
  .product-character__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .product-character__info ul {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .product-character__info ul:nth-child(2) {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    margin-top: 0;
  }
  .product-character__info li {
    max-width: 100%;
  }
  .product-instruction {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .product-instruction__title {
    margin-top: 23px;
  }
  .product-instruction__download {
    margin-top: 80px;
  }
}
@media only screen and (min-width: 1200px) {
  .product {
    margin-bottom: 152px;
  }
  .product-photo {
    max-width: 375px;
  }
  .product-info {
    max-width: 57%;
  }
}