*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url(../img/bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat; }

header {
  width: inherit;
  height: 78px;
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 2; }

.header {
  max-width: 1277px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0 auto; }

.header__lobby {
  width: 125px;
  height: 45px;
  margin-right: 70px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#46228a), color-stop(#1a3358), to(#485d95));
  background: -webkit-linear-gradient(#46228a, #1a3358, #485d95);
  background: -o-linear-gradient(#46228a, #1a3358, #485d95);
  background: linear-gradient(#46228a, #1a3358, #485d95); }
  .header__lobby a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: 0.3s text-shadow;
    -o-transition: 0.3s text-shadow;
    transition: 0.3s text-shadow; }
  .header__lobby:hover a {
    -webkit-transition: 0.3s text-shadow;
    -o-transition: 0.3s text-shadow;
    transition: 0.3s text-shadow;
    text-shadow: 0 0 20px #fff; }

.header__logo a {
  color: #fff;
  font-size: 45px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 5px;
  margin-right: 91px;
  text-decoration: none;
  -webkit-transition: 0.3s color;
  -o-transition: 0.3s color;
  transition: 0.3s color; }

.header__logo:hover a {
  color: #c0c0c0;
  -webkit-transition: 0.3s color;
  -o-transition: 0.3s color;
  transition: 0.3s color;
  text-shadow: 0 0 2px #a19e9e; }

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 74px; }

.header__icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header__icons div p {
    color: #fff;
    font-size: 27px;
    letter-spacing: 3px;
    text-shadow: 0 0 15px #fff;
    font-family: 'Roboto' sans-serif; }

.money {
  margin-right: 54px; }

.money img {
  margin-right: 28px; }

.crown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 36px; }

.crown .plus {
  margin-left: 10px;
  font-size: 32px;
  color: #fdcf00;
  text-shadow: none;
  font-family: 'Roboto', sans-serif;
  cursor: pointer; }

.crown img {
  margin-right: 35px; }

.star {
  position: relative; }
  .star .index {
    font-size: 20px;
    font-weight: 900;
    position: absolute;
    top: 27%;
    left: 9.5%;
    color: #fff; }

.star img {
  margin-right: 22px; }

.chevron {
  margin-left: 45px;
  cursor: pointer;
  position: relative; }
  .chevron img:nth-child(2) {
    position: absolute;
    left: 85%;
    top: -95%; }

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1277px;
  background-image: -webkit-gradient(linear, left top, right top, from(#1a1a45), to(#363170));
  background-image: -webkit-linear-gradient(left, #1a1a45 0%, #363170 100%);
  background-image: -o-linear-gradient(left, #1a1a45 0%, #363170 100%);
  background-image: linear-gradient(90deg, #1a1a45 0%, #363170 100%);
  -webkit-box-shadow: 0px 0px 18px 0px #000000;
  box-shadow: 0px 0px 18px 0px #000000;
  margin: 0 auto;
  position: relative;
  z-index: 1; }

.main {
  max-width: 1277px;
  max-height: 635px;
  margin: 0 auto; }

.rulette {
  width: 805px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }
  .column img {
    width: 120px;
    height: auto; }
  .column:first-child::after {
    display: none; }
  .column::after {
    display: block;
    content: '';
    background-image: url(../img/ruletteline.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 5px;
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: -40px; }

footer {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url(../img/footerbg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 2; }

.footer {
  max-width: 1277px;
  margin: 0 auto; }

.footer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.money_button {
  width: 308px;
  height: 50px;
  background-image: url(../img/money_buttonbg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  border-radius: 50px; }
  .money_button p {
    text-align: center;
    line-height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #781542;
    font-weight: 900;
    margin: 0 10px 0 10px;
    color: #ffd240;
    text-shadow: 0 0 2px #521153, 0 0 2px #521153, 0 0 2px #521153, 0 0 2px #521153, 0 0 2px #521153, 0 0 2px #521153, 0 0 2px #521153, 0 0 2px #521153; }

.readdbutton, .addbutton {
  position: absolute;
  width: 75px;
  height: 50px;
  color: #e3e8e4;
  font-size: 44px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-align: center;
  line-height: 50px;
  text-shadow: 0 0 1px #5a1821, 0 0 2px #5a1821, 0 0 2px #5a1821, 0 0 2px #5a1821, 0 0 2px #5a1821, 0 0 2px #5a1821, 0 0 2px #5a1821;
  cursor: pointer; }

.addbutton {
  top: 0;
  right: 0;
  border-radius: 0 50px 50px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#a70f0e), to(#7c114d));
  background: -webkit-linear-gradient(#a70f0e, #7c114d);
  background: -o-linear-gradient(#a70f0e, #7c114d);
  background: linear-gradient(#a70f0e, #7c114d);
  -webkit-box-shadow: 8px 8px 20px #000;
  box-shadow: 8px 8px 20px #000; }

.readdbutton {
  top: 0;
  left: 0;
  border-radius: 50px 0 0 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#a70f0e), to(#7c114d));
  background: -webkit-linear-gradient(#a70f0e, #7c114d);
  background: -o-linear-gradient(#a70f0e, #7c114d);
  background: linear-gradient(#a70f0e, #7c114d);
  -webkit-box-shadow: 8px 8px 20px #000;
  box-shadow: 8px 8px 20px #000; }

.win_button {
  width: 410px;
  height: 100px;
  border-radius: 50px;
  background-image: url(../img/win_buttonbg1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 20px 0 20px; }
  .win_button p {
    text-align: center;
    line-height: 100px;
    font-size: 42px;
    font-family: 'Roboto', sans-serif;
    word-spacing: 2px;
    color: #ffff23;
    text-shadow: 0 0 4px #d93d35, 0 0 6px #d93d35, 0 0 6px #d93d35, 0 0 6px #d93d35, 0 0 6px #d93d35, 0 0 6px #d93d35, 0 0 6px #d93d35, 0 0 6px #d93d35; }
    .win_button p span {
      color: #fff;
      text-shadow: none; }

.max-bet_button {
  width: 90px;
  height: 65px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #310039), color-stop(90%, #860059));
  background: -webkit-linear-gradient(#310039 10%, #860059 90%);
  background: -o-linear-gradient(#310039 10%, #860059 90%);
  background: linear-gradient(#310039 10%, #860059 90%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0 15px 20px #000;
  box-shadow: 0 15px 20px #000;
  border: 1px solid black;
  margin: 0 25px 0 10px;
  cursor: pointer; }
  .max-bet_button p {
    text-align: center;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    font-weight: 900;
    color: #f4faf4; }

.spin_button {
  width: 195px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #2dad00;
  -webkit-box-shadow: 0px 2px 12px 5px #000001, inset 0.157px -2.996px 5px 0px #6ab903c9, inset 0px 7px 7px 0px #ffffff87;
  box-shadow: 0px 2px 12px 5px #000001, inset 0.157px -2.996px 5px 0px #6ab903c9, inset 0px 7px 7px 0px #ffffff87;
  cursor: pointer;
  position: relative; }
  .spin_button p {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 47px;
    line-height: 18px;
    color: #fff;
    text-shadow: 0 0 6px #000;
    text-align: center;
    font-weight: 900;
    position: absolute;
    top: 18px;
    left: 25px; }
    .spin_button p span {
      font-size: 14px;
      font-weight: 900; }

@media screen and (min-width: 320px) and (max-width: 720px) {
  header {
    height: 60px; }
  .header {
    width: inherit;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 30px; }
  .header__lobby {
    width: 70px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px; }
    .header__lobby a {
      font-size: 16px; }
  .header__logo {
    display: none; }
    .header__logo a {
      font-size: 30px;
      margin-right: 5px; }
  .header__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0; }
  .header__icons div p {
    font-size: 18px; }
  .money {
    width: 30px;
    height: 30px;
    margin-right: 80px; }
    .money img {
      width: 100%;
      height: auto;
      margin: 0 10px 0 0; }
  .crown {
    width: 30px;
    height: 40px;
    margin-right: 80px; }
    .crown .plus {
      margin: 0 0 0 5px;
      font-size: 28px; }
    .crown img {
      width: 100%;
      height: auto;
      margin: 0 10px 0 0; }
  .star {
    width: 30px;
    height: 40px;
    margin-right: 50px; }
    .star .index {
      font-size: 12px;
      top: 35%;
      left: 40%; }
    .star img {
      width: 100%;
      height: auto;
      margin: 0 10px 0 0; }
  .chevron {
    width: 20px;
    height: 40px;
    margin: 0 0 0 60px; }
    .chevron img {
      width: 100%;
      height: auto;
      margin: 0; }
      .chevron img:nth-child(2) {
        top: 0; }
  main {
    max-width: 400px; }
  .rulette {
    max-width: 400px; }
  .column img {
    width: 50px;
    height: auto;
    margin-top: 5px; }
  .column::after {
    left: -30px;
    top: 5px;
    bottom: 5px; }
  footer {
    height: 60px; }
  .money_button {
    width: 150px;
    height: 30px; }
    .money_button p {
      font-size: 17px;
      line-height: 30px;
      color: #ffd240;
      text-shadow: 0 0 2px #521153, 0 0 2px #521153, 0 0 2px #521153, 0 0 2px #521153, 0 0 2px #521153, 0 0 2px #521153, 0 0 2px #521153, 0 0 2px #521153;
      line-height: 30px; }
  .readdbutton, .addbutton {
    width: 40px;
    height: 30px;
    font-size: 25px;
    line-height: 30px; }
  .win_button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    margin: 0 0 0 10px; }
    .win_button p {
      font-size: 25px;
      line-height: 50px;
      color: #ffff23;
      text-shadow: 0 0 4px #d93d35, 0 0 6px #d93d35, 0 0 6px #d93d35, 0 0 6px #d93d35, 0 0 6px #d93d35, 0 0 6px #d93d35, 0 0 6px #d93d35, 0 0 6px #d93d35; }
      .win_button p span {
        color: #fff;
        text-shadow: none; }
  .max-bet_button {
    width: 60px;
    height: 40px;
    margin: 0 10px 0 10px; }
    .max-bet_button p {
      font-size: 18px;
      line-height: 18px; }
  .spin_button {
    width: 100px;
    height: 40px; }
    .spin_button p {
      font-size: 22px;
      top: 10px;
      left: 8px;
      line-height: 12px; }
      .spin_button p span {
        font-size: 8px; } }

@media screen and (min-width: 720px) and (max-width: 1024px) {
  header {
    height: 60px; }
  .header {
    width: inherit;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 30px; }
  .header__lobby {
    width: 70px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px; }
    .header__lobby a {
      font-size: 16px; }
  .header__logo a {
    font-size: 30px;
    margin-right: 5px; }
  .header__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 20px 0 0; }
  .header__icons div p {
    font-size: 18px; }
  .money {
    width: 30px;
    height: 30px;
    margin-right: 100px; }
    .money img {
      width: 100%;
      height: auto;
      margin: 0 10px 0 0; }
  .crown {
    width: 30px;
    height: 40px;
    margin-right: 90px; }
    .crown .plus {
      margin: 0 0 0 5px;
      font-size: 28px; }
    .crown img {
      width: 100%;
      height: auto;
      margin: 0 10px 0 0; }
  .star {
    width: 30px;
    height: 40px;
    margin-right: 60px; }
    .star .index {
      font-size: 12px;
      top: 35%;
      left: 40%; }
    .star img {
      width: 100%;
      height: auto;
      margin: 0 10px 0 0; }
  .chevron {
    width: 20px;
    height: 40px;
    margin: 0 0 0 60px; }
    .chevron img {
      width: 100%;
      height: auto;
      margin: 0; }
      .chevron img:nth-child(2) {
        top: 0; }
  main {
    max-width: 600px; }
  .rulette {
    max-width: 500px; }
  .column img {
    width: 60px;
    height: auto;
    margin-top: 10px; }
    .column img:first-child {
      margin-top: 0; }
  .column::after {
    left: -32px;
    top: 5px;
    bottom: 5px; }
  footer {
    height: 80px; }
  .money_button {
    width: 180px;
    height: 30px; }
    .money_button p {
      font-size: 23px;
      color: #ffd240;
      text-shadow: 0 0 2px #521153, 0 0 2px #521153, 0 0 2px #521153, 0 0 2px #521153, 0 0 2px #521153, 0 0 2px #521153, 0 0 2px #521153, 0 0 2px #521153;
      line-height: 30px; }
  .readdbutton, .addbutton {
    width: 40px;
    height: 30px;
    font-size: 25px;
    line-height: 30px; }
  .win_button {
    width: 220px;
    height: 60px;
    border-radius: 50px;
    margin: 0 20px 0 20px; }
    .win_button p {
      font-size: 28px;
      line-height: 60px;
      color: #ffff23;
      text-shadow: 0 0 4px #d93d35, 0 0 6px #d93d35, 0 0 6px #d93d35, 0 0 6px #d93d35, 0 0 6px #d93d35, 0 0 6px #d93d35, 0 0 6px #d93d35, 0 0 6px #d93d35; }
      .win_button p span {
        color: #fff;
        text-shadow: none; }
  .max-bet_button {
    width: 70px;
    height: 50px;
    margin: 0 20px 0 10px; }
    .max-bet_button p {
      font-size: 22px;
      line-height: 20px; }
  .spin_button {
    width: 120px;
    height: 50px; }
    .spin_button p {
      font-size: 30px;
      top: 15px;
      left: 8px;
      line-height: 12px; }
      .spin_button p span {
        font-size: 10px; } }
