*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header-contact {
  padding: 29px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-contact-block {
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.header-contact-block a {
  text-transform: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.header-contact-block img {
  padding-right: 10px;
}
.header-contact__question {
  width: 170px;
  height: 36px;
  background: #2e84a9;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.header-nav {
  position: relative;
  z-index: 2;
  padding: 0 20px;
  opacity: 0.9;
  margin-top: 20px;
  background: rgba(46, 132, 169, 0.75);
}
.header-nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav-list a {
  display: inline-block;
  padding: 20px 0;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.header-nav-list__item {
  position: relative;
  padding-right: 30px;
}
.header-nav-list__item:hover .header-nav-submenu {
  display: block;
}
.header-nav-list__item:hover .arrow:before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  border-color: transparent transparent #fff transparent;
}
.header .arrow:before {
  content: "";
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  border: 8px solid #fff;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 42%;
  left: 90%;
  z-index: 2;
}
.header-nav-submenu {
  display: none;
  min-width: 100%;
  list-style: none;
  opacity: 0.9;
  background: rgba(46, 132, 169, 0.75);
  position: absolute;
  top: 100%;
  left: -20px;
  z-index: 2;
}
.header-nav-submenu__item a {
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.header-nav-submenu__item a:hover {
  background: #fff;
  color: rgba(46, 132, 169, 0.75);
}

.slider {
  margin-top: -80px;
}

input[type=range] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 280px;
  margin: 0;
  padding: 0 2px;
  overflow: hidden;
  border: 0;
  border-radius: 1px;
  outline: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#2da6a8), to(#2da6a8)) no-repeat center;
  background: linear-gradient(#2da6a8, #2da6a8) no-repeat center;
  background-size: 100% 2px;
  pointer-events: none;
}
input[type=range]:active, input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  border-radius: 28px;
  background: #2da6a8;
  position: relative;
  margin: 5px 0;
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  pointer-events: all;
  -webkit-box-shadow: 0 1px 4px 0.5px #2da6a8;
          box-shadow: 0 1px 4px 0.5px #2da6a8;
}

.multi-range {
  position: relative;
  height: 25px;
}
.multi-range input[type=range] {
  position: absolute;
}
.multi-range input[type=range]:nth-child(1)::-webkit-slider-thumb::before {
  background-color: #2da6a8;
}
.multi-range input[type=range]:nth-child(2) {
  background: none;
}
.multi-range input[type=range]:nth-child(2)::-webkit-slider-thumb::before {
  background-color: #2da6a8;
}

.news {
  margin-top: 50px;
}
.news-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news-filter {
  width: 280px;
}
.news-filter__title {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
.news-filter-block {
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #ccc;
}
.news-filter-block:last-child {
  border-bottom: none;
}
.news-filter-block p:last-child {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news-filter-block__title {
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
.news-filter-block-list {
  list-style: none;
}
.news-filter-block-list li {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000;
}
.news-filter-block-list li:nth-child(n+2) {
  margin-top: 20px;
}
.news-filter-block-list label {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news-filter-block-list input {
  background: #ccc;
}
.news-block {
  max-width: 850px;
}
.news-block__title {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: #000;
}
.news-block__data p {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.news-block-house {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news-block-item {
  max-width: 275px;
}
.news-block-item img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-block-character {
  padding: 20px;
  background: #f1f8ff;
}
.news-block-character a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 500;
  color: #2da6a8;
}
.news-block-character p:nth-child(n+2) {
  margin-top: 5px;
}
.news-block-character p:nth-child(2) {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #545454;
}
.news-block-character p:nth-child(3) {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #A6AAA1;
}
.news-block-character p:nth-child(4) {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #545454;
}

.contact {
  margin: 50px 0 0;
  padding: 30px 0;
  background: #2e84a9;
}
.contact__title {
  margin-bottom: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
.contact-form {
  max-width: 680px;
  margin: 0 auto;
}
.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-form input {
  width: 100%;
  outline: none;
  border: none;
  padding: 12px;
  background: #fff;
  border-radius: 5px;
}
.contact-form input[type=submit] {
  cursor: pointer;
  width: 130px;
  background: #219d1e;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.contact-form input:nth-child(n+2) {
  margin-top: 15px;
}
.contact-form textarea {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  resize: none;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}
.contact-form div:first-child {
  width: 190px;
}
.contact-form form > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.contact-form-info {
  margin-top: 20px;
  width: 60%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.location {
  height: 560px;
}

.footer {
  background: #2e84a9;
  padding: 30px 0;
}
.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-list {
  list-style: none;
}
.footer-list__item:nth-child(n+3) {
  margin-top: 20px;
}
.footer-list__item:nth-child(1) {
  margin-bottom: 30px;
}
.footer-list__item:nth-child(1) a {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #e5e5e5;
}
.footer-list a {
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  text-transform: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #e5e5e5;
}
.footer-list a:hover {
  color: #f8aa1a;
}