.contact {
   margin: 50px 0 0;
   padding: 30px 0;
   background: #2e84a9;

   &__title {
      margin-bottom: 30px;
      text-align: center;
      @include fontSet($Roboto, 30px, 700, #fff);
   }

   &-form {
      max-width: 680px;
      margin: 0 auto;

      form {
         @include flex(null, space-between, null, null);
      }

      input {
         width: 100%;
         outline: none;
         border: none;
         padding: 12px;
         background: #fff;
         border-radius: 5px;
      }

      input[type="submit"] {
         cursor: pointer;
         width: 130px;
         background: #219d1e;
         @include textCharacter(uppercase, none, null);
         @include fontSet($Roboto, 18px, 500, #fff);
      }

      input:nth-child(n + 2) {
         margin-top: 15px;
      }

      textarea {
         flex-basis: 300px;
         resize: none;
         border-radius: 5px;
         padding: 10px;
         outline: none;
      }

      div:first-child {
         width: 190px;
      }

      form > div:last-child {
         @include flex(null, space-between, null, flex-end);
      }

      &-info {
         margin-top: 20px;
         width: 60%;
         @include fontSet($Roboto, 14px, 500, #fff);
      }
   }
}

.location {
   height: 560px;
}
