.header {
    &-contact {
        padding: 29px 20px;
        @include flex(null, space-between, null, center);
    }

    &-contact-block {
        max-width: 200px;
        @include flex(null, space-between, null, center);
        @include textCharacter(none, none, null);
        @include fontSet($Roboto, 14px, 600, #000);

        a {
            @include textCharacter(none, none, null);
            @include fontSet($Roboto, 14px, 600, #000);
        }

        img {
            padding-right: 10px;
        }
    }

    &-contact__question {
        width: 170px;
        height: 36px;
        background: #2e84a9;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        @include fontSet($Roboto, 14px, 600, #fff);
    }

    &-nav {
        position: relative;
        z-index: 2;
        padding: 0 20px;
        opacity: 0.9;
        margin-top: 20px;
        background: rgba(46, 132, 169, 0.75);
    }

    &-nav-list {
        list-style: none;
        @include flex(null, space-between, null, center);

        a {
            display: inline-block;
            padding: 20px 0;
            transition: 0.3s all linear;
            @include textCharacter(uppercase, none, null);
            @include fontSet($Roboto, 18px, 500, #fff);
        }
    }

    &-nav-list__item {
        position: relative;
        padding-right: 30px;

        &:hover .header-nav-submenu {
            display: block;
        }
    }

    &-nav-list__item:hover .arrow:before {
        transform: translateY(-8px);
        border-color: transparent transparent #fff transparent;
    }

    .arrow:before {
        content: "";
        transition: 0.3s all linear;
        border: 8px solid #fff;
        border-color: #fff transparent transparent transparent;
        @include position(absolute, 42%, null, null, 90%, 2);
    }

    &-nav-submenu {
        display: none;
        min-width: 100%;
        list-style: none;
        opacity: 0.9;
        background: rgba(46, 132, 169, 0.75);
        @include position(absolute, 100%, null, null, -20px, 2);
    }

    &-nav-submenu__item {
        a {
            width: 100%;
            display: inline-block;
            padding: 10px 20px;
            @include textCharacter(uppercase, none, null);
            @include fontSet($Roboto, 14px, 500, #fff);
        }

        a:hover {
            background: #fff;
            color: rgba(46, 132, 169, 0.75);
        }
    }
}
